# VAR模型的官方实例

In [13]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.tsa.api import VAR

In [14]:
mdata = sm.datasets.macrodata.load_pandas().data

In [15]:
mdata.head()

     year  quarter   realgdp  realcons  realinv  realgovt  ...     m1  tbilrate  unemp      pop  infl  realint
0  1959.0      1.0  2710.349    1707.4  286.898   470.045  ...  139.7      2.82    5.8  177.146  0.00     0.00
1  1959.0      2.0  2778.801    1733.7  310.859   481.301  ...  141.7      3.08    5.1  177.830  2.34     0.74
2  1959.0      3.0  2775.488    1751.8  289.226   491.260  ...  140.5      3.82    5.3  178.657  2.74     1.09
3  1959.0      4.0  2785.204    1753.7  299.356   484.052  ...  140.0      4.33    5.6  179.386  0.27     4.06
4  1960.0      1.0  2847.699    1770.5  331.722   462.199  ...  139.6      3.50    5.2  180.007  2.31     1.19

[5 rows x 14 columns]

## Model fitting

In [16]:
dates = mdata[['year', 'quarter']].astype(int).astype(str)
quarterly = dates["year"] + "Q" + dates["quarter"]
quarterly

0      1959Q1
1      1959Q2
2      1959Q3
3      1959Q4
4      1960Q1
        ...
198    2008Q3
199    2008Q4
200    2009Q1
201    2009Q2
202    2009Q3
Length: 203, dtype: object

In [17]:
from statsmodels.tsa.base.datetools import dates_from_str
quarterly = dates_from_str(quarterly)
quarterly

[datetime.datetime(1959, 3, 31, 0, 0),
 datetime.datetime(1959, 6, 30, 0, 0),
 datetime.datetime(1959, 9, 30, 0, 0),
 datetime.datetime(1959, 12, 31, 0, 0),
 datetime.datetime(1960, 3, 31, 0, 0),
 datetime.datetime(1960, 6, 30, 0, 0),
 datetime.datetime(1960, 9, 30, 0, 0),
 datetime.datetime(1960, 12, 31, 0, 0),
 datetime.datetime(1961, 3, 31, 0, 0),
 datetime.datetime(1961, 6, 30, 0, 0),
 datetime.datetime(1961, 9, 30, 0, 0),
 datetime.datetime(1961, 12, 31, 0, 0),
 datetime.datetime(1962, 3, 31, 0, 0),
 datetime.datetime(1962, 6, 30, 0, 0),
 datetime.datetime(1962, 9, 30, 0, 0),
 datetime.datetime(1962, 12, 31, 0, 0),
 datetime.datetime(1963, 3, 31, 0, 0),
 datetime.datetime(1963, 6, 30, 0, 0),
 datetime.datetime(1963, 9, 30, 0, 0),
 datetime.datetime(1963, 12, 31, 0, 0),
 datetime.datetime(1964, 3, 31, 0, 0),
 datetime.datetime(1964, 6, 30, 0, 0),
 datetime.datetime(1964, 9, 30, 0, 0),
 datetime.datetime(1964, 12, 31, 0, 0),
 datetime.datetime(1965, 3, 31, 0, 0),
 datetime.datetime(1965, 6, 30, 0, 0),
 datetime.datetime(1965, 9, 30, 0, 0),
 datetime.datetime(1965, 12, 31, 0, 0),
 datetime.datetime(1966, 3, 31, 0, 0),
 datetime.datetime(1966, 6, 30, 0, 0),
 datetime.datetime(1966, 9, 30, 0, 0),
 datetime.datetime(1966, 12, 31, 0, 0),
 datetime.datetime(1967, 3, 31, 0, 0),
 datetime.datetime(1967, 6, 30, 0, 0),
 datetime.datetime(1967, 9, 30, 0, 0),
 datetime.datetime(1967, 12, 31, 0, 0),
 datetime.datetime(1968, 3, 31, 0, 0),
 datetime.datetime(1968, 6, 30, 0, 0),
 datetime.datetime(1968, 9, 30, 0, 0),
 datetime.datetime(1968, 12, 31, 0, 0),
 datetime.datetime(1969, 3, 31, 0, 0),
 datetime.datetime(1969, 6, 30, 0, 0),
 datetime.datetime(1969, 9, 30, 0, 0),
 datetime.datetime(1969, 12, 31, 0, 0),
 datetime.datetime(1970, 3, 31, 0, 0),
 datetime.datetime(1970, 6, 30, 0, 0),
 datetime.datetime(1970, 9, 30, 0, 0),
 datetime.datetime(1970, 12, 31, 0, 0),
 datetime.datetime(1971, 3, 31, 0, 0),
 datetime.datetime(1971, 6, 30, 0, 0),
 datetime.datetime(1971, 9, 30, 0, 0),
 datetime.datetime(1971, 12, 31, 0, 0),
 datetime.datetime(1972, 3, 31, 0, 0),
 datetime.datetime(1972, 6, 30, 0, 0),
 datetime.datetime(1972, 9, 30, 0, 0),
 datetime.datetime(1972, 12, 31, 0, 0),
 datetime.datetime(1973, 3, 31, 0, 0),
 datetime.datetime(1973, 6, 30, 0, 0),
 datetime.datetime(1973, 9, 30, 0, 0),
 datetime.datetime(1973, 12, 31, 0, 0),
 datetime.datetime(1974, 3, 31, 0, 0),
 datetime.datetime(1974, 6, 30, 0, 0),
 datetime.datetime(1974, 9, 30, 0, 0),
 datetime.datetime(1974, 12, 31, 0, 0),
 datetime.datetime(1975, 3, 31, 0, 0),
 datetime.datetime(1975, 6, 30, 0, 0),
 datetime.datetime(1975, 9, 30, 0, 0),
 datetime.datetime(1975, 12, 31, 0, 0),
 datetime.datetime(1976, 3, 31, 0, 0),
 datetime.datetime(1976, 6, 30, 0, 0),
 datetime.datetime(1976, 9, 30, 0, 0),
 datetime.datetime(1976, 12, 31, 0, 0),
 datetime.datetime(1977, 3, 31, 0, 0),
 datetime.datetime(1977, 6, 30, 0, 0),
 datetime.datetime(1977, 9, 30, 0, 0),
 datetime.datetime(1977, 12, 31, 0, 0),
 datetime.datetime(1978, 3, 31, 0, 0),
 datetime.datetime(1978, 6, 30, 0, 0),
 datetime.datetime(1978, 9, 30, 0, 0),
 datetime.datetime(1978, 12, 31, 0, 0),
 datetime.datetime(1979, 3, 31, 0, 0),
 datetime.datetime(1979, 6, 30, 0, 0),
 datetime.datetime(1979, 9, 30, 0, 0),
 datetime.datetime(1979, 12, 31, 0, 0),
 datetime.datetime(1980, 3, 31, 0, 0),
 datetime.datetime(1980, 6, 30, 0, 0),
 datetime.datetime(1980, 9, 30, 0, 0),
 datetime.datetime(1980, 12, 31, 0, 0),
 datetime.datetime(1981, 3, 31, 0, 0),
 datetime.datetime(1981, 6, 30, 0, 0),
 datetime.datetime(1981, 9, 30, 0, 0),
 datetime.datetime(1981, 12, 31, 0, 0),
 datetime.datetime(1982, 3, 31, 0, 0),
 datetime.datetime(1982, 6, 30, 0, 0),
 datetime.datetime(1982, 9, 30, 0, 0),
 datetime.datetime(1982, 12, 31, 0, 0),
 datetime.datetime(1983, 3, 31, 0, 0),
 datetime.datetime(1983, 6, 30, 0, 0),
 datetime.datetime(1983, 9, 30, 0, 0),
 datetime.datetime(1983, 12, 31, 0, 0),
 datetime.datetime(1984, 3, 31, 0, 0),
 datetime.datetime(1984, 6, 30, 0, 0),
 datetime.datetime(1984, 9, 30, 0, 0),
 datetime.datetime(1984, 12, 31, 0, 0),
 datetime.datetime(1985, 3, 31, 0, 0),
 datetime.datetime(1985, 6, 30, 0, 0),
 datetime.datetime(1985, 9, 30, 0, 0),
 datetime.datetime(1985, 12, 31, 0, 0),
 datetime.datetime(1986, 3, 31, 0, 0),
 datetime.datetime(1986, 6, 30, 0, 0),
 datetime.datetime(1986, 9, 30, 0, 0),
 datetime.datetime(1986, 12, 31, 0, 0),
 datetime.datetime(1987, 3, 31, 0, 0),
 datetime.datetime(1987, 6, 30, 0, 0),
 datetime.datetime(1987, 9, 30, 0, 0),
 datetime.datetime(1987, 12, 31, 0, 0),
 datetime.datetime(1988, 3, 31, 0, 0),
 datetime.datetime(1988, 6, 30, 0, 0),
 datetime.datetime(1988, 9, 30, 0, 0),
 datetime.datetime(1988, 12, 31, 0, 0),
 datetime.datetime(1989, 3, 31, 0, 0),
 datetime.datetime(1989, 6, 30, 0, 0),
 datetime.datetime(1989, 9, 30, 0, 0),
 datetime.datetime(1989, 12, 31, 0, 0),
 datetime.datetime(1990, 3, 31, 0, 0),
 datetime.datetime(1990, 6, 30, 0, 0),
 datetime.datetime(1990, 9, 30, 0, 0),
 datetime.datetime(1990, 12, 31, 0, 0),
 datetime.datetime(1991, 3, 31, 0, 0),
 datetime.datetime(1991, 6, 30, 0, 0),
 datetime.datetime(1991, 9, 30, 0, 0),
 datetime.datetime(1991, 12, 31, 0, 0),
 datetime.datetime(1992, 3, 31, 0, 0),
 datetime.datetime(1992, 6, 30, 0, 0),
 datetime.datetime(1992, 9, 30, 0, 0),
 datetime.datetime(1992, 12, 31, 0, 0),
 datetime.datetime(1993, 3, 31, 0, 0),
 datetime.datetime(1993, 6, 30, 0, 0),
 datetime.datetime(1993, 9, 30, 0, 0),
 datetime.datetime(1993, 12, 31, 0, 0),
 datetime.datetime(1994, 3, 31, 0, 0),
 datetime.datetime(1994, 6, 30, 0, 0),
 datetime.datetime(1994, 9, 30, 0, 0),
 datetime.datetime(1994, 12, 31, 0, 0),
 datetime.datetime(1995, 3, 31, 0, 0),
 datetime.datetime(1995, 6, 30, 0, 0),
 datetime.datetime(1995, 9, 30, 0, 0),
 datetime.datetime(1995, 12, 31, 0, 0),
 datetime.datetime(1996, 3, 31, 0, 0),
 datetime.datetime(1996, 6, 30, 0, 0),
 datetime.datetime(1996, 9, 30, 0, 0),
 datetime.datetime(1996, 12, 31, 0, 0),
 datetime.datetime(1997, 3, 31, 0, 0),
 datetime.datetime(1997, 6, 30, 0, 0),
 datetime.datetime(1997, 9, 30, 0, 0),
 datetime.datetime(1997, 12, 31, 0, 0),
 datetime.datetime(1998, 3, 31, 0, 0),
 datetime.datetime(1998, 6, 30, 0, 0),
 datetime.datetime(1998, 9, 30, 0, 0),
 datetime.datetime(1998, 12, 31, 0, 0),
 datetime.datetime(1999, 3, 31, 0, 0),
 datetime.datetime(1999, 6, 30, 0, 0),
 datetime.datetime(1999, 9, 30, 0, 0),
 datetime.datetime(1999, 12, 31, 0, 0),
 datetime.datetime(2000, 3, 31, 0, 0),
 datetime.datetime(2000, 6, 30, 0, 0),
 datetime.datetime(2000, 9, 30, 0, 0),
 datetime.datetime(2000, 12, 31, 0, 0),
 datetime.datetime(2001, 3, 31, 0, 0),
 datetime.datetime(2001, 6, 30, 0, 0),
 datetime.datetime(2001, 9, 30, 0, 0),
 datetime.datetime(2001, 12, 31, 0, 0),
 datetime.datetime(2002, 3, 31, 0, 0),
 datetime.datetime(2002, 6, 30, 0, 0),
 datetime.datetime(2002, 9, 30, 0, 0),
 datetime.datetime(2002, 12, 31, 0, 0),
 datetime.datetime(2003, 3, 31, 0, 0),
 datetime.datetime(2003, 6, 30, 0, 0),
 datetime.datetime(2003, 9, 30, 0, 0),
 datetime.datetime(2003, 12, 31, 0, 0),
 datetime.datetime(2004, 3, 31, 0, 0),
 datetime.datetime(2004, 6, 30, 0, 0),
 datetime.datetime(2004, 9, 30, 0, 0),
 datetime.datetime(2004, 12, 31, 0, 0),
 datetime.datetime(2005, 3, 31, 0, 0),
 datetime.datetime(2005, 6, 30, 0, 0),
 datetime.datetime(2005, 9, 30, 0, 0),
 datetime.datetime(2005, 12, 31, 0, 0),
 datetime.datetime(2006, 3, 31, 0, 0),
 datetime.datetime(2006, 6, 30, 0, 0),
 datetime.datetime(2006, 9, 30, 0, 0),
 datetime.datetime(2006, 12, 31, 0, 0),
 datetime.datetime(2007, 3, 31, 0, 0),
 datetime.datetime(2007, 6, 30, 0, 0),
 datetime.datetime(2007, 9, 30, 0, 0),
 datetime.datetime(2007, 12, 31, 0, 0),
 datetime.datetime(2008, 3, 31, 0, 0),
 datetime.datetime(2008, 6, 30, 0, 0),
 datetime.datetime(2008, 9, 30, 0, 0),
 datetime.datetime(2008, 12, 31, 0, 0),
 datetime.datetime(2009, 3, 31, 0, 0),
 datetime.datetime(2009, 6, 30, 0, 0),
 datetime.datetime(2009, 9, 30, 0, 0)]

In [19]:
mdata = mdata[['realgdp','realcons','realinv']]
mdata.head()

    realgdp  realcons  realinv
0  2710.349    1707.4  286.898
1  2778.801    1733.7  310.859
2  2775.488    1751.8  289.226
3  2785.204    1753.7  299.356
4  2847.699    1770.5  331.722

In [22]:
mdata.index = pd.DatetimeIndex(quarterly)
mdata.head()

             realgdp  realcons  realinv
1959-03-31  2710.349    1707.4  286.898
1959-06-30  2778.801    1733.7  310.859
1959-09-30  2775.488    1751.8  289.226
1959-12-31  2785.204    1753.7  299.356
1960-03-31  2847.699    1770.5  331.722

In [27]:
data = np.log(mdata).diff().dropna()
data.head()
model = VAR(data)
results = model.fit(2)

## Forecasting

In [36]:
lag_order = results.k_ar
lag_order
results.forecast(data.values[-lag_order:], 5)

array([[ 0.00616044,  0.00500006,  0.00916198],
       [ 0.00427559,  0.00344836, -0.00238478],
       [ 0.00416634,  0.0070728 , -0.01193629],
       [ 0.00557873,  0.00642784,  0.00147152],
       [ 0.00626431,  0.00666715,  0.00379567]])